/* Indice */

nav ul {

    background-color: #a00b0b;
    width: 100%;
    text-align: center;
    list-style-type: none;
}

nav li {

    display: inline-flex;
}

nav a {

    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    
}

nav li:hover {

    background-color: #800000;
}




/* Pagina Principal */

h1 {

    text-align: center;
    background-color: red;
    color: white;
    margin: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

h2 {

    text-align: center;
    color: white;
    margin: 25px;
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;

}

body {
    background-color: whitesmoke;
}

p{
    
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.parrafo {

    margin: 20px;
    padding: 20px;

}

img {
    width: 400px;
    float: right;
    border: 5px solid red;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #A00B0B;
    color: white;
    text-align: center;
 }

 .footer p {

    text-align: center;
 }






